
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'PingFangSC-Regular', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

button {
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  background: none;
}

input,
textarea {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  -webkit-appearance: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */

a {
  color: #7e8c8d;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  // css3字体缩放样式 打破浏览器的最小12像素的限制，但是这样设置字体后不会随着网页的放大而放大，而始终都是你设置的字体大小
  -webkit-text-size-adjust: none;
  // ios 点击会出现一个半透明的灰色背景
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#app {
  height: 100%;
}







